.root {}

.all {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 70% 30%;
    width: 95vw;
    height: 95vh;
}

.left-panel {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-end: 1;
    grid-column-start: 1;
    margin: 5px;
    width: 100%;
}

.right-panel {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
    margin: 5px;
}

.data-list {
    margin: 10px;
}

.controls {
    margin: 10px;
}
