.root {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    // width: 100vw;
    height: 92vh;
    border-left: 1px solid;
}

.all {
    
}

.view {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-end: 1;
    grid-column-start: 1;
    // height: 90vh;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 15px;
    margin-left: 15px;
}
